In [8]:
def name_of_the_function(name):
    print ("hello "+name)

In [9]:
name = "rzn"
name_of_the_function(name)

hello rzn

In [11]:
def _add (num1, num2):
    return num1 + num2

In [13]:
result = _add (3,4)

In [15]:
result

7

In [20]:
def _hello(name='blank'):
    print(f"my name is {name}")

In [21]:
_hello("rzn")

my name is rzn

In [22]:
_hello()

my name is blank

In [58]:
def _even(number):
    even_list = []
    for x in number:
        if x % 2 == 0:
            even_list.append(x)
    return even_list

In [60]:
mylist = [1,3,5]
_even(mylist)

[]

In [61]:
stock_prices = [('GOOG',200), ('APPL',400)]

In [64]:
for i,j in stock_prices:
    print(j+j*.1)

220.0
440.0

In [72]:
work_hours = [('Abby', 100), ('baby', 400), ('Tabby', 300)]

In [84]:
def employee_of_the_month(default = work_hours):
    employee_name = ''
    max_hours = 0
    for name, hour in work_hours:
        if hour > max_hours :
            max_hours = hour
            employee_name = name 

    return (max_hours, employee_name)

In [85]:
employee_of_the_month()

(400, 'baby')

In [88]:
def myfunc(*args):
    return sum(args)

In [89]:
myfunc(4,3,1,5)

13

In [97]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print ("my fruit is {}".format(kwargs['fruit']))

In [98]:
myfunc (fruit = 'apple', veggie = 'lettuce')

my fruit is apple

In [102]:
def square(mynums):
    return mynums**2

In [103]:
mynums = [1,2,3,4,5,6]

In [104]:
for i in map(square, mynums):
    print(i)

1
4
9
16
25
36

In [107]:
lambda sqr : sqr**2

In [113]:
lambda (2)

SyntaxError: invalid syntax (3331626813.py, line 1)

In [114]:
word = 'jackfruit'

In [120]:
for position, letter in enumerate(word):
    print( position )
    print('\n')

0


1


2


3


4


5


6


7


8

In [121]:
word2 ='packfruit'

In [125]:
for item in zip(word, word2):
    print (item)

('j', 'p')
('a', 'a')
('c', 'c')
('k', 'k')
('f', 'f')
('r', 'r')
('u', 'u')
('i', 'i')
('t', 't')

In [128]:

2 in [1,2,3]

True

In [ ]:
name = input('your name')

In [99]:
mylist = [ num**2 for num in range(1,20,2) if num /3 ==1] 
mylist

[9]

In [123]:
class Dog():
    species = 'mammals'
    def __init__(self, breed, name, spots):

        self.breed = breed
        self.name = name
        self.spots = spots

    def bark (self, number):
        print(f'woof! my name is {self.name} and the number is {number}')

In [124]:
my_dog = Dog(breed='huskie', name = 'sam' , spots = False)

In [125]:
my_dog.breed

'huskie'

In [126]:
my_dog.spots

False

In [127]:
my_dog.name

'sam'

In [128]:
my_dog.species

'mammals'

In [129]:
my_dog.bark(23)

woof! my name is sam and the number is 23

In [130]:
class Circle ():
    pi = 3.14

    def __init__ (self, radius = 1):
        self.radius = radius


    def get_circumference (self):
        return self.radius * Circle.pi * 2

In [131]:
my_circle = Circle(30)

In [132]:
my_circle.pi

3.14

In [133]:
my_circle.radius

30

In [134]:
my_circle.get_circumference()

188.4

In [135]:
class Animal(Dog):
    def __init__(self):
        Dog.__init__(self, breed, name, spots)
        print ("printing from animal class. its called inheritence.")

In [139]:
my_dog = Animal('huski')

TypeError: Animal.__init__() takes 1 positional argument but 2 were given